 /* =============================
 Base Element styles
 ==============================*/

body {
        line-height: 1.6;
        color: #000080;
  }

  a {
      color: red;
      text-decoration: none;
      display: inline-block;

  }
  footer {
      color:#000080;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li{
    display: block;
    padding: 5px 5px;
    background-color: black;

  }
/*==========================
 Base Layout styles
 =========================*/

 /* --------Layout Containers-------*/

 .wrapper {
            width: 70%;
            margin: 0 auto;/*centers the wrapper in the middle of the page*/
}

 .main-header {
            background: #000059;
 }

 .main-footer {
            padding: 2em 0;
            background: #d9e4ea;
 }

 .project-pics {
            max-width: 300px;
            min-width: 200px;
 }
 /* -----Page Elements -----*/
